:root {
    --primary-background-color: rgba(240, 240, 240, 0.692); 
    --secondary-background-color: rgb(200, 211, 218);
    --primary-foreground-color: rgb(165, 55, 255);
    --primary-text-colour: rgb(110, 110, 110);
    --highlighted-text-colour: rgb(235, 235, 235);
    --text-font: Helvetica;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--text-font);
  background-color: var(--secondary-background-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1, h2, h3, p {
    font-family: var(--text-font);
    color: var(--primary-text-colour);
}

h1, p {
    text-align: center;
    font-family: var(--text-font);
    top: 50px;
}

h1,h2,h3,h4 {
    font-size: 1.5rem;;
}

p {
    font-size: 1rem;
}

a {
    color: var(--primary-foreground-color)
}

.body-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.home-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25vw;
    height: 30vh;
    background-color: var(--primary-background-color);
    text-align: center;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
}

.menu-btn {
    position: relative;
    margin-top: 10%;
    border-radius: 50%;
    padding: 13px 18px;
    margin: 50%;
    font-size: 1rem;
    text-align: center;
}

.btn-activate {
    animation: neuron-activate 0.5s;
    left: 20%;
    background-color: var(--primary-foreground-color);
    color: white;
}

.btn-deactivate {
    animation: neuron-deactivate 0.5s;
    left: 0%;
    background-color: None;
    color: None;
}

.menu-btn:hover {
    background-color: var(--primary-foreground-color);
}

@keyframes neuron-activate {
    from {
        left: 0%;
    }
    to {
        left: 20%;
    }
}

@keyframes neuron-deactivate {
    from {
        left: 20%;
    }
    to {
        left: 0%;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.info-item {
    visibility: hidden;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-background-color);
    border: 1px solid white;
    border-radius: 10px;
}

.info-item p,h3,ul {
    text-align: left;
    padding: 2%;
    padding-right: 10%;
    word-wrap: break-word;
    white-space: normal;
}

.intro-text {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.logo {
    height: 100px;
    width: 120px;
    border: thin solid black;
    margin-left: 2%;
}

.profile-img {
    height: 45%;
    width: 65%;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .home-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        /*width: 400px;
        height: 1000px; */
        width: 100%;
        height: 20%;
        background-color: var(--primary-background-color);
        text-align: center;
        position: relative;
        border: 1px solid white;
        border-radius: 10px;
    }

    .body-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .information-container {
        background-color: var(--primary-background-color);
        margin-left: 0%;
        margin-top: 2%;
        border: none;
    }

    h1 {
        font-family: var(--text-font);
        font-size: 2rem;
    }

    p { 
        font-family: var(--text-font);
        font-size: 1rem;
    }

    a {
        color: var(--primary-foreground-color);
        font-size: 1rem;
    }

    .menu-btn {
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 100%; 
        font-size: 15px;
        text-align: center;
        border-radius: 0%;
    }

    .btn-activate {
        animation: none;
        left: 0%;
        color: var(--highlighted-text-colour);
        background-color: var(--primary-foreground-color);
    }

    .btn-deactivate {
        animation: none;
        background-color: None;
        color: var(--primary-text-colour);
    }

    .subtitle {
        visibility: hidden;
        position: absolute;
    }
}